# Python
__pycache__/
*.pyc
*.pyo

# Environment
.env

# Credentials
*.json
!questions/algebra.json
!questions/arithmetic.json
!questions/graphs.json
!questions/patterns.json

# VSCode or PyCharm
.vscode/
.idea/
venv/

# OS files
.DS_Store
Thumbs.db
